@import "app.variables";
@import "./fsd-app/fsd-app";
@import "./fsd-app/user-selection/user-selection";
@import "./fsd-app/fsd-map/fsd-map";
@import "./fsd-app/fsd-map/fsd-sidebar/fsd-sidebar";
@import "./fsd-app/fsd-map/fsd-sidebar/fsd-donor-form/fsd-donor-form";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
    font-family: 'Montserrat', sans-serif;
    background-color:whitesmoke;
}

* {
    border-radius: 1px !important;
}

